name: Build & Upload Extension

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Zip extension files
        run: zip -r extension-dist.zip . -x ".git/*" ".github/*"

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: extension-dist.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
